*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1280px;
	height: 720px;
    position: relative;
}

.absolute {
    position: absolute;
}

.nav {
bottom: 0;
width: 300px;
height: 390px;
background: #12110E;
left: 5%;    
}

.section-list {
    font-size: 20px;
font-family: futura;
list-style: none;
padding: 0;
color: #FFF;
}

.section-list > li {
    padding: 10px 0 10px 30px;    
}

/* Fonts */
.futuratodaynormal {
    font-family: FuturaToday;
    margin: 45px 0 6px;
    text-transform: uppercase;
    font-size: 48px;
}
.futuratodaybold {
    text-transform: uppercase;
}
.futuratodaylight {
    font-family: FuturaTodayLight;
    margin: 45px 0 6px;
    text-transform: uppercase;
    font-size: 48px;
}
.pragroman {
    font-family: PragRoman;
    margin: 45px 0 6px;
    text-transform: uppercase;
    font-size: 48px;
}

/* Logos */
video {
	width: 1280px;
	height: 720px;
}
.logo-size {
	width: 788px;
	height: 163px;
}
.logo-header {
	width: 515px;
	height: 186px;
    background-image: url(../../app/assets/logos/logo-header.png);
}
.logo-overlay {
	position: absolute;
	bottom: 70px;
	left: 80px;
	width: 300px;
	height: 91px;
}
.logo-main {
    background-image: url(../../app/assets/logos/logo-main.png);
}
.logo-news {
    background-image: url(../../app/assets/logos/logo-news.png);
}
.logo-sports {
    background-image: url(../../app/assets/logos/logo-sports.png);
}
.logo-life {
    background-image: url(../../app/assets/logos/logo-life.png);
}
.logo-money {
    background-image: url(../../app/assets/logos/logo-money.png);
}
.logo-tech {
    background-image: url(../../app/assets/logos/logo-tech.png);
}
.logo-travel {
    background-image: url(../../app/assets/logos/logo-travel.png);
}

/* Colors */
.default {
    background-color: #fff;
}
.home.active, .news.active {
    background-color: #009afc;
}
.sports.active {
    background-color: #ec1b24;
}
.money.active {
    background-color: #00ab4d;
}
.life.active {
    background-color: #91268e;
}
.tech.active {
    background-color: #f89d33;
}
.travel.active {
    background-color: #33c3df;
}
.weather.active {
    background-color: #fc0;
}
.opinion.active {
    background-color: #666;
}