*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1280px;
	height: 720px;
    position: relative;
}

@font-face{
font-family: FuturaToday;
src: url(../assets/fonts/FuturaTodayNormal.otf);
}

@font-face{
font-family: FuturaTodayBold;
src: url(../assets/fonts/FuturaTodayBold.otf);
}

@font-face{
font-family: FuturaTodayLight;
src: url(../assets/fonts/FuturaTodayLight.otf);
}

.scene {
    display: none;
}

.absolute {
    position: absolute;
}

.nav {
    bottom: 0;
    width: 300px;
    height: 390px;
    background: #000;
    left: 5%;    
    z-index: 1;
    -webkit-transition: width 1s, height 1s,-webkit-transform 1s;  /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s, transform 1s;
}

.nav#collapsed,
.nav#index_open {
    height: 30px;
}

.nav#details {
    width: 1216px;
    height: 120px;
    background: rgba(0, 0, 0, 0.8);
}

.section-picker#collapsed > ul,
.section-picker#details > ul,
.section-picker#index_open > ul,
.section-picker#collapsed > .section-heading,
.section-picker#index_open > .section-heading,
.logo-size,
.video-details  {
    display: none;
}

.section-picker#collapsed > .logo-size,
.section-picker#details > .video-details {
    display: block;
}

.section-list {
    font-size: 20px;
    font-family: futura;
    list-style: none;
    padding: 0;
    color: #FFF;
}

.section-list > li {
    padding: 10px 0 10px 30px;    
    position: relative;
}

.section-list > li a {
    display: block;
    color: white;
    text-decoration: none;
}

.section-list > li.selected:after {
    background: url('../assets/images/icon-sprite.png') no-repeat;
    display: block;
    content: '';
    width: 18px;
    height: 28px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.section-list > li.return-index {
    font-size: 12px;
    text-transform: none;
    right: 0;
    position: absolute;
    top: -40px;
}

.section-heading {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: #CCC;
    padding: 10px 0 10px 20px;
    width: 300px;
    background: #000;
}

.video-details {
    color: #FFF;
    bottom: 26px;
    position: relative;
    padding: 0 30px;
}

.video-details > .logo-size {
    width: 175px;
    height: 75px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

#details > .section-heading {
    bottom: 47px;
}

.index-wrapper {
    overflow-x: auto;    
    bottom: 40%;    
    height: 180px;    
    width: 100%;
    display: none;
}

.section-index { 
    height: 180px;
    width: 9999px;
    background: #F3F3F3;
}

.video-item {
    width: 220px;
    height: 160px;
    padding: 10px;
    float: left;  
}

.video-caption {
    font: 15px helvetica, sans-serif;
    color: #333;  
}

.details-caption {
    font: 20px helvetica, sans-serif;
    margin-top: 10px;
}

.details-label {
    font: 15px helvetica, sans-serif;
    display: inline-block;
}

.details-label.right {
    float: right;
}

.thumbnail {
    width: 220px;
    height: 124px;    
}

/* Fonts */
.futuratoday {
    font-family: 'FuturaToday';
    text-transform: uppercase;
}
.futuratodaybold {
    font-family: 'FuturaTodayBold';    
    text-transform: uppercase;
}
.futuratodaylight {
    font-family: 'FuturaTodayLight';
    text-transform: uppercase;
}
.pragroman {
    font-family: 'PragRoman';
    margin: 45px 0 6px;
    text-transform: uppercase;
}

/* Logos */
video {
	width: 1280px;
	height: 720px;
}
.logo-size {
    margin: 4px 0 0 30px;
    background-size: 100%;
}
.logo-header {
	width: 515px;
	height: 186px;
    background-image: url(../../app/assets/logos/logo-header.png);
}
.logo-overlay {
	position: absolute;
	bottom: 70px;
	left: 80px;
	width: 300px;
	height: 91px;
}
.logo-main {
    width: 140px;
    height: 23px;    
    background-image: url(../../app/assets/logos/logo-main.png);
}
.logo-main.wide {
    background-image: url(../assets/images/logos/logo-main-wide.png);
}
.logo-news {
    background-image: url(../../app/assets/logos/logo-news.png);
}
.logo-sports {
    background-image: url(../../app/assets/logos/logo-sports.png);
}
.logo-life {
    background-image: url(../../app/assets/logos/logo-life.png);
}
.logo-money {
    background-image: url(../../app/assets/logos/logo-money.png);
}
.logo-tech {
    background-image: url(../../app/assets/logos/logo-tech.png);
}
.logo-travel {
    background-image: url(../../app/assets/logos/logo-travel.png);
}

/* Colors */
.default {
    background-color: #fff;
}
.home.active, .news.active {
    background-color: #009afc;
}
.sports.active {
    background-color: #ec1b24;
}
.money.active {
    background-color: #00ab4d;
}
.life.active {
    background-color: #91268e;
}
.tech.active {
    background-color: #f89d33;
}
.travel.active {
    background-color: #33c3df;
}
.weather.active {
    background-color: #fc0;
}
.opinion.active {
    background-color: #666;
}