*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Fonts */

@font-face{
font-family: FuturaToday;
src: url(../assets/fonts/FuturaTodayNormal.otf);
}

@font-face{
font-family: FuturaTodayBold;
src: url(../assets/fonts/FuturaTodayBold.otf);
}

@font-face{
font-family: FuturaTodayLight;
src: url(../assets/fonts/FuturaTodayLight.otf);
}

/* Layout */

body
{
    width: 1280px;
    height: 720px;
    position: relative;
}

/* Main items */

.scene {
    display: none;
}

.main-video-player.active {
    display: block;
}

.main-video-player.inactive {
    display: none;
}

.absolute {
    position: absolute;
}

/* Playlist */

.index-wrapper {
    overflow-x: auto;    
    bottom: 50px;    
    width: 100%;
    /*display: none;*/
}

.index-wrapper > .section-heading {
margin: 40px 80px;
font: 56px futuratodaylight;
color: #FFF;
}

.section-index { 
    height: 180px;
    width: 9999px;
}

.video-item {
width: 240px;
height: 135px;
float: left;
margin: 0 17px;
}

.video-item:first-child {
margin-left: 80px;
}

.video-item.active-item:before {
    display: block;
    content: 'Now Playing';
    position: absolute;
    margin-top: -30px;
    font: 12px futuratodaylight;
    color: #FFF;
}

.video-caption {
font: 15px/18px futuratodaylight, sans-serif;
color: #FFF;
}

.details-caption {
    font: 20px helvetica, sans-serif;
    margin-top: 10px;
}

.details-label {
    font: 15px helvetica, sans-serif;
    display: inline-block;
}

.details-label.right {
    float: right;
}

.thumbnail {
width: 100%;
height: 100%;  
}

/* Logos */
video {
	width: 1280px;
	height: 720px;
}
.logo-size {
    margin: 4px 0 0 30px;
    background-size: 100%;
}
.logo-header {
	width: 515px;
	height: 186px;
    background-image: url(../../app/assets/logos/logo-header.png);
}
.logo-overlay {
	position: absolute;
	bottom: 70px;
	left: 80px;
	width: 300px;
	height: 91px;
}
.logo-main {
width: 154px;
height: 25px;
top: 45px;
background-image: url(../../app/assets/logos/logo-main.png);
left: 80px;
margin: 0;
}
.logo-main.wide {
    background-image: url(../assets/images/logos/logo-main-wide.png);
}
.logo-news {
    background-image: url(../../app/assets/logos/logo-news.png);
}
.logo-sports {
    background-image: url(../../app/assets/logos/logo-sports.png);
}
.logo-life {
    background-image: url(../../app/assets/logos/logo-life.png);
}
.logo-money {
    background-image: url(../../app/assets/logos/logo-money.png);
}
.logo-tech {
    background-image: url(../../app/assets/logos/logo-tech.png);
}
.logo-travel {
    background-image: url(../../app/assets/logos/logo-travel.png);
}

/* Colors */
.default {
    background-color: #fff;
}
.home.active, .news.active {
    background-color: #009afc;
}
.sports.active {
    background-color: #ec1b24;
}
.money.active {
    background-color: #00ab4d;
}
.life.active {
    background-color: #91268e;
}
.tech.active {
    background-color: #f89d33;
}
.travel.active {
    background-color: #33c3df;
}
.weather.active {
    background-color: #fc0;
}
.opinion.active {
    background-color: #666;
}

/* Gradients */

#scene1.index-open > .main-video-player.active:after {
z-index: 2;
content: '';
display: block;
background: -moz-linear-gradient(top,  rgba(0,155,255,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,155,255,0.7)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,155,255,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,155,255,0.7) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,155,255,0.7) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,155,255,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3009bff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}