<section class="absolute index-wrapper">
	<a href="javascript:void(0);" class="anchor return-index" onkeyDown="Main.keyDown();"></a>				
	<div class="section-index" ng-controller='eventController'>
		<!-- Chosen section video items -->
		<div class="video-item prev-item" ng-click="nextPrevVideo(-1, $event)">
			<img class="thumbnail" src="http://www.gannett-cdn.com/media/USATODAY/USATODAY/2014/04/18//1397833343000-Capture.JPG" />
			<p class="video-caption">Lorem ipsum sin dolor sect nonummy text sin ipsum.</p>
		</div>
		<div class="video-item active-item">
			<img class="thumbnail" src="http://www.gannett-cdn.com/media/USATODAY/USATODAY/2014/04/18//1397833343000-Capture.JPG" />
			<p class="video-caption">Lorem ipsum sin dolor sect nonummy text sin ipsum.</p>
		</div>
		<div class="video-item next-item" ng-click="nextPrevVideo(1)">
			<img class="thumbnail" src="http://www.gannett-cdn.com/media/USATODAY/USATODAY/2014/04/18//1397833343000-Capture.JPG" />
			<p class="video-caption">Lorem ipsum sin dolor sect nonummy text sin ipsum.</p>
		</div>
		<div class="video-item">
			<img class="thumbnail" src="http://www.gannett-cdn.com/media/USATODAY/USATODAY/2014/04/18//1397833343000-Capture.JPG" />
			<p class="video-caption">Lorem ipsum sin dolor sect nonummy text sin ipsum.</p>
		</div>
		<div class="video-item">
			<img class="thumbnail" src="http://www.gannett-cdn.com/media/USATODAY/USATODAY/2014/04/18//1397833343000-Capture.JPG" />
			<p class="video-caption">Lorem ipsum sin dolor sect nonummy text sin ipsum.</p>
		</div>
		<div class="video-item">
			<img class="thumbnail" src="http://www.gannett-cdn.com/media/USATODAY/USATODAY/2014/04/18//1397833343000-Capture.JPG" />
			<p class="video-caption">Lorem ipsum sin dolor sect nonummy text sin ipsum.</p>
		</div>																				
	</div>
</section>