<section class="absolute nav section-picker anchor" id="expanded">
	<a href="javascript:void(0);" class="anchor main-anchor" onkeydown="Main.keyDown();"></a>							
	<div class="absolute logo-size logo-main wide"></div>
	<ul class="section-list">
		<li class="futuratoday return-index" data-rel="return">
			<a href="javascript:void(0);" class="anchor">return</a>
		</li> 					
		<li class="futuratoday home active selected" data-rel="#scene1">
			<a href="javascript:void(0);" class="anchor">HOME</a>						
		</li> 				
		<li class="futuratoday sports" data-rel="#scene2">
			<a href="javascript:void(0);" class="anchor">SPORTS</a>							
		</li>
		<li class="futuratoday money" data-rel="#scene3">
			<a href="javascript:void(0);" class="anchor">MONEY</a>
		</li>
		<li class="futuratoday life" data-rel="#scene4">
			<a href="javascript:void(0);" class="anchor">LIFE</a>
		</li>
		<li class="futuratoday tech" data-rel="#scene5">
			<a href="javascript:void(0);" class="anchor">TECH</a>
		</li>
		<li class="futuratoday travel" data-rel="#scene6">
			<a href="javascript:void(0);" class="anchor">TRAVEL</a>
		</li>
	</ul>
	<section class="video-details">
		<a href="javascript:void(0);" class="anchor return-index" onkeyDown="Main.keyDown();"></a>					
		<div class="logo-size logo-news"></div>					
		<h4 class="details-label">NOW PLAYING</h4>
		<h4 class="details-label right">12 MINUTES AGO</h4>
		<p class="details-caption">We dock at Grand Cayman on a Norwegian charter and find fresh local fish, locally brewed beer and popular chains within walking distance.</p>
	</section>
</section>	